@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button {
    display: inline-block;
    background-color: #B28756;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100vw;
    top: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    z-index: 99;
}
header .logo img {
    height: 70px;
    display: block;
}
.menu .menu-bars {
    display: none;
}
.menu ul, .menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu a {
    font-weight: 500;
    display: block;
    color: #000;
    text-decoration: none;
    margin: 20px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 1s linear;
}
.menu a:hover {
    transition: all 0.3s linear;
    color: #ec9223;
}
.menu a:last-child {
    margin-right: 0;
}

.header-title {
    background-image: url('../images/background.jpg');
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    height: calc(60vh - 80px);
    margin-top: 80px;
    overflow: hidden;
    border-bottom: 5px solid #ec9223;
}
.header-body {
    height: calc(60vh - 80px);
    background-color: rgba(236, 146, 35, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-body h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 300;
    color: #fff;
}
.header-body h1 span {
    font-weight: 600;
    color: #ec9223;
}
.header-body h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.section-title {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    text-transform: uppercase;
    text-align: center;
}
.section-bar {
    width: 250px;
    height: 5px;
    background-color: #b46400;
    border-radius: 20px;
}

.about {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}
.about-body {
    margin: auto;
    max-width: 1140px;
    margin-top: 30px;
    width: 100%;
    display: flex;
}
.about-img img {
    max-width: 350px;
    border-radius: 15px;
    margin-left: 20px;
}

.servicos {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}
.servicos-content {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.servicos-item {
    width: 100%;
    max-width: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.servicos-item i {
    font-size: 65px;
    padding: 10px;
    color: #b46400;
}
.servicos-item .servicos--title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 23px;
    padding: 10px;
}
.servicos-item .servicos--body {
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.portfolio {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

.portfolio-content {
    width: 100%;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio-content a {
     text-decoration: none;
}
.portfolio-content--photo {
    width: 280px;
}
.portfolio-content--photoarea {
    margin: 10px;
    width: 260px;
}
.portfolio-content--photoarea img {
    width: inherit;
    height: inherit;
}
.portfolio-content--photoinfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    text-decoration: none;
}
.portfolio-content--photoinfo h5 {
    font-size: 18px;
    font-weight: 600px;
    font-family: 'Montserrat', sans-serif;
}
.portfolio-content--photoinfo p {
    font-family: 'Open Sans', sans-serif;
}

.contato {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}
.contato-body {
    margin: auto;
    max-width: 1140px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contato-icon {
    text-align: center;
    font-size: 18px;
}
.contato-icon i {
    font-size: 18px;
}
.contato-body  form {
    display: flex;
    flex-direction: column;
}
.contato-body  form input {
    width: 500px;
    height: 40px;
    margin: 5px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #afafaf;
    text-transform: uppercase;
    outline: none;
}
.contato-body  form .form-inputs input {
    width: 245px;
}
.contato-body form input[name*="message"] {
    margin-top: 40px;
}

.contato-body form button {
    border: none;
    width: 200px;
    margin: auto;
    margin-top: 40px;
}

.localizacao {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}
.localizacao-body {
    margin: auto;
    max-width: 1140px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width:601px) and (max-width: 740px) {
    .menu .menu-bars {
        display: block;
        font-size: 24px;
        color: #000;
    }
    .menu nav {
        display: flex;
        position: absolute;
        top: 80px;
        right: 0;
        height: calc(100vh - 80px);
        background-color: #fff;
        width: 0vw;
        transition: all ease 0.5s;
        z-index: 99;
    }
    .menu ul {
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .menu a {
        margin: 15px;
    }

    .header-body h1 {
        text-align: center;
    }

    .about-img img {
        max-width: 300px;
        margin-top: 20px;
    }
}

@media (max-width: 660px) {
    .menu .menu-bars {
        display: block;
        font-size: 24px;
        color: #000;
    }
    .menu nav {
        display: flex;
        position: absolute;
        top: 80px;
        right: 0;
        height: calc(100vh - 80px);
        background-color: #fff;
        width: 0vw;
        transition: all ease 0.5s;
        z-index: 99;
    }
    .menu ul {
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .menu a {
        margin: 15px;
    }

    .header-body h1 {
        font-size: 60px;
        text-align: center;
    }
    .header-body h2 {
        font-size: 20px;
    }

    .about {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about-img img {
        max-width: 300px;
        margin-top: 20px;
    }

    .contato-body form .form-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contato-body form {
        align-items: center;
    }
    .contato-body form input {
        width: 250px;
    }
}